# Data Analysis of a Retail Store using Apache Spark

These tables come from the Cloudera Installation. A fictitious retail house with the following tables: customers, departments, categories, products, orders and order_items. In this notebook we will go through Spark SQL as well as Spark DF API based transformations and actions, ranging from simple to quite complex.

In [1]:
import os
import pandas as pd
import numpy as np

from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession, SQLContext

from pyspark.sql.types import *
import pyspark.sql.functions as F
from pyspark.sql.functions import udf, col

In [2]:
# setting random seed for notebook reproducability
rnd_seed=42
np.random.seed=42

## 1. Understanding the Data Set

```
mysql> describe customers;
+-------------------+--------------+------+-----+---------+----------------+
| Field             | Type         | Null | Key | Default | Extra          |
+-------------------+--------------+------+-----+---------+----------------+
| customer_id       | int(11)      | NO   | PRI | NULL    | auto_increment |
| customer_fname    | varchar(45)  | NO   |     | NULL    |                |
| customer_lname    | varchar(45)  | NO   |     | NULL    |                |
| customer_email    | varchar(45)  | NO   |     | NULL    |                |
| customer_password | varchar(45)  | NO   |     | NULL    |                |
| customer_street   | varchar(255) | NO   |     | NULL    |                |
| customer_city     | varchar(45)  | NO   |     | NULL    |                |
| customer_state    | varchar(45)  | NO   |     | NULL    |                |
| customer_zipcode  | varchar(45)  | NO   |     | NULL    |                |
+-------------------+--------------+------+-----+---------+----------------+

mysql> describe departments;
+-----------------+-------------+------+-----+---------+----------------+
| Field           | Type        | Null | Key | Default | Extra          |
+-----------------+-------------+------+-----+---------+----------------+
| department_id   | int(11)     | NO   | PRI | NULL    | auto_increment |
| department_name | varchar(45) | NO   |     | NULL    |                |
+-----------------+-------------+------+-----+---------+----------------+

mysql> describe categories;
+------------------------+-------------+------+-----+---------+----------------+
| Field                  | Type        | Null | Key | Default | Extra          |
+------------------------+-------------+------+-----+---------+----------------+
| category_id            | int(11)     | NO   | PRI | NULL    | auto_increment |
| category_department_id | int(11)     | NO   |     | NULL    |                |
| category_name          | varchar(45) | NO   |     | NULL    |                |
+------------------------+-------------+------+-----+---------+----------------+

mysql> describe products;
+---------------------+--------------+------+-----+---------+----------------+
| Field               | Type         | Null | Key | Default | Extra          |
+---------------------+--------------+------+-----+---------+----------------+
| product_id          | int(11)      | NO   | PRI | NULL    | auto_increment |
| product_category_id | int(11)      | NO   |     | NULL    |                |
| product_name        | varchar(45)  | NO   |     | NULL    |                |
| product_description | varchar(255) | NO   |     | NULL    |                |
| product_price       | float        | NO   |     | NULL    |                |
| product_image       | varchar(255) | NO   |     | NULL    |                |
+---------------------+--------------+------+-----+---------+----------------+

mysql> describe orders;
+-------------------+-------------+------+-----+---------+----------------+
| Field             | Type        | Null | Key | Default | Extra          |
+-------------------+-------------+------+-----+---------+----------------+
| order_id          | int(11)     | NO   | PRI | NULL    | auto_increment |
| order_date        | datetime    | NO   |     | NULL    |                |
| order_customer_id | int(11)     | NO   |     | NULL    |                |
| order_status      | varchar(45) | NO   |     | NULL    |                |
+-------------------+-------------+------+-----+---------+----------------+

mysql> describe order_items;
+--------------------------+------------+------+-----+---------+----------------+
| Field                    | Type       | Null | Key | Default | Extra          |
+--------------------------+------------+------+-----+---------+----------------+
| order_item_id            | int(11)    | NO   | PRI | NULL    | auto_increment |
| order_item_order_id      | int(11)    | NO   |     | NULL    |                |
| order_item_product_id    | int(11)    | NO   |     | NULL    |                |
| order_item_quantity      | tinyint(4) | NO   |     | NULL    |                |
| order_item_subtotal      | float      | NO   |     | NULL    |                |
| order_item_product_price | float      | NO   |     | NULL    |                |
+--------------------------+------------+------+-----+---------+----------------+
```

## 2. Creating the Spark Session

In [3]:
os.environ['SPARK_HOME']

'D:\\Work\\spark-2.2.0-bin-hadoop2.6'

In [4]:
spark = SparkSession.builder.master("local[2]").appName("retail_database_analysis").getOrCreate()

In [5]:
spark

In [6]:
sc = spark.sparkContext
sc

In [7]:
sqlContext = SQLContext(spark.sparkContext)
sqlContext

## 3. Load The Data From Files Into Dataframes

In [8]:
CUSTOMERS_DATA = 'data/retail_db/customers.csv'
DEPARTMENTS_DATA = 'data/retail_db/departments.csv'
CATEGORIES_DATA = 'data/retail_db/categories.csv'
PRODUCTS_DATA = 'data/retail_db/products.csv'
ORDERS_DATA = 'data/retail_db/orders.csv'
ORDER_ITEMS_DATA = 'data/retail_db/order_items.csv'

In [9]:
# define the schema, corresponding to a line in the csv data file for Customer
customers_schema = StructType([
    StructField('customer_id', IntegerType(), nullable=True),
    StructField('customer_fname', StringType(), nullable=True),
    StructField('customer_lname', StringType(), nullable=True),
    StructField('customer_email', StringType(), nullable=True),
    StructField('customer_password', StringType(), nullable=True),
    StructField('customer_street', StringType(), nullable=True),
    StructField('customer_city', StringType(), nullable=True),
    StructField('customer_state', StringType(), nullable=True),
    StructField('customer_zipcode', StringType(), nullable=True)]
)

departments_schema = StructType([
    StructField('department_id', IntegerType(), nullable=True),
    StructField('category_name', StringType(), nullable=True)]
)

categories_schema = StructType([
    StructField('category_id', IntegerType(), nullable=True),
    StructField('category_department_id', IntegerType(), nullable=True),
    StructField('category_name', StringType(), nullable=True)]
)

products_schema = StructType([
    StructField('product_id', IntegerType(), nullable=True),
    StructField('product_category_id', IntegerType(), nullable=True),
    StructField('product_name', StringType(), nullable=True),
    StructField('product_description', StringType(), nullable=True),
    StructField('product_price', FloatType(), nullable=True),
    StructField('product_image', StringType(), nullable=True)]
)

orders_schema = StructType([
    StructField('order_id', IntegerType(), nullable=True),
    StructField('order_date', StringType(), nullable=True),
    StructField('order_customer_id', IntegerType(), nullable=True),
    StructField('order_status', StringType(), nullable=True)]
)

order_items_schema = StructType([
    StructField('order_item_id', IntegerType(), nullable=True),
    StructField('order_item_order_id', IntegerType(), nullable=True),
    StructField('order_item_product_id', IntegerType(), nullable=True),
    StructField('order_item_quantity', IntegerType(), nullable=True),
    StructField('order_item_subtotal', FloatType(), nullable=True),
    StructField('order_item_product_price', FloatType(), nullable=True)]
)

In [10]:
# Load data
customers_df = spark.read.csv(path=CUSTOMERS_DATA, schema=customers_schema).cache()
departments_df = spark.read.csv(path=DEPARTMENTS_DATA, schema=departments_schema).cache()
categories_df = spark.read.csv(path=CATEGORIES_DATA, schema=categories_schema).cache()
products_df = spark.read.csv(path=PRODUCTS_DATA, schema=products_schema).cache()
orders_df = spark.read.csv(path=ORDERS_DATA, schema=orders_schema).cache()
order_items_df = spark.read.csv(path=ORDER_ITEMS_DATA, schema=order_items_schema).cache()

In [11]:
customers_df.registerTempTable("customers")

In [12]:
customers_df.show(5)

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|           00725|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|          5|        Robert|        Hudson|     XXXXXXXXX|        XXXXXXXXX|10 Crystal River ...|       Caguas|            PR|           00725|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 5 rows

In [13]:
departments_df.registerTempTable("departments")

In [14]:
departments_df.show(5)

+-------------+-------------+
|department_id|category_name|
+-------------+-------------+
|            2|      Fitness|
|            3|     Footwear|
|            4|      Apparel|
|            5|         Golf|
|            6|     Outdoors|
+-------------+-------------+
only showing top 5 rows

In [15]:
categories_df.registerTempTable("categories")

In [16]:
categories_df.show(5)

+-----------+----------------------+-------------------+
|category_id|category_department_id|      category_name|
+-----------+----------------------+-------------------+
|          1|                     2|           Football|
|          2|                     2|             Soccer|
|          3|                     2|Baseball & Softball|
|          4|                     2|         Basketball|
|          5|                     2|           Lacrosse|
+-----------+----------------------+-------------------+
only showing top 5 rows

In [17]:
products_df.registerTempTable("products")

In [18]:
products_df.show(5)

+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|product_id|product_category_id|        product_name|product_description|product_price|       product_image|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|         1|                  2|Quest Q64 10 FT. ...|               null|        59.98|http://images.acm...|
|         2|                  2|Under Armour Men'...|               null|       129.99|http://images.acm...|
|         3|                  2|Under Armour Men'...|               null|        89.99|http://images.acm...|
|         4|                  2|Under Armour Men'...|               null|        89.99|http://images.acm...|
|         5|                  2|Riddell Youth Rev...|               null|       199.99|http://images.acm...|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+
only showing top 5 rows

In [19]:
orders_df.registerTempTable("orders")

In [20]:
orders_df.show(5)

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
+--------+--------------------+-----------------+---------------+
only showing top 5 rows

In [21]:
order_items_df.registerTempTable("order_items")

In [22]:
order_items_df.show(5)

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|            1|                  1|                  957|                  1|             299.98|                  299.98|
|            2|                  2|                 1073|                  1|             199.99|                  199.99|
|            3|                  2|                  502|                  5|              250.0|                    50.0|
|            4|                  2|                  403|                  1|             129.99|                  129.99|
|            5|                  4|                  897|                  2|              49.98|                   24.99|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 5 rows

## 4. Data Analysis

In [23]:
import re

def strip_margin(text):
    nomargin = re.sub('\n[ \t]*\|', ' ', text)
    trimmed = re.sub('\s+', ' ', nomargin)
    return trimmed

### 4.1 Get How many Orders were placed:

**SQL:**

In [24]:
spark.sql("select count(1) from orders").show()

+--------+
|count(1)|
+--------+
|   68883|
+--------+

**DF API:**

In [25]:
orders_df.count()

68883

### 4.2 Get Average Revenue Per Order:

**SQL:**

In [26]:
# Some orders are cancelled and they do not have corresponding entries in order_items, 
# so we need count(distinct oi.order_item_order_id)
spark.sql(strip_margin(
        """SELECT sum(oi.order_item_subtotal) / count(distinct oi.order_item_order_id) as avg_rev_per_order
          |FROM orders o JOIN order_items oi 
          |    ON o.order_id = oi.order_item_order_id
        """)).show()

+-----------------+
|avg_rev_per_order|
+-----------------+
|597.6322996016944|
+-----------------+

**DF API:**

In [27]:
# how best to join two DataFrames without having a duplicated colum? Mention them as expression
(orders_df.join(order_items_df, orders_df.order_id == order_items_df.order_item_order_id)
 .select(['order_item_subtotal', 'order_item_order_id'])
 .select((F.sum('order_item_subtotal') / F.countDistinct('order_item_order_id')).alias('avg_rev_per_order'))
 .show())

+-----------------+
|avg_rev_per_order|
+-----------------+
|597.6322996016944|
+-----------------+

### 4.3 Get Average Revenue Per Day:

**SQL:**

In [28]:
# Some orders are cancelled and they do not have corresponding entries in order_items, 
# so we need count(distinct oi.order_item_order_id)
spark.sql(strip_margin(
        """SELECT o.order_date, sum(oi.order_item_subtotal) / count(distinct oi.order_item_order_id) as avg_rev_per_day
          |FROM orders o JOIN order_items oi 
          |    ON o.order_id = oi.order_item_order_id
          |GROUP BY o.order_date 
          |ORDER BY o.order_date
        """)).show(truncate=False)

+---------------------+-----------------+
|order_date           |avg_rev_per_day  |
+---------------------+-----------------+
|2013-07-25 00:00:00.0|587.5330286848134|
|2013-07-26 00:00:00.0|585.9234878147109|
|2013-07-27 00:00:00.0|577.5676682063512|
|2013-07-28 00:00:00.0|551.4119109020958|
|2013-07-29 00:00:00.0|635.5883909684641|
|2013-07-30 00:00:00.0|564.5363838698838|
|2013-07-31 00:00:00.0|630.9955146643533|
|2013-08-01 00:00:00.0|608.4982189502356|
|2013-08-02 00:00:00.0|587.8871075517388|
|2013-08-03 00:00:00.0|599.1628419048382|
|2013-08-04 00:00:00.0|594.3201416863335|
|2013-08-05 00:00:00.0|592.8305590897799|
|2013-08-06 00:00:00.0|579.68106844792  |
|2013-08-07 00:00:00.0|583.906170096101 |
|2013-08-08 00:00:00.0|588.4743191939134|
|2013-08-09 00:00:00.0|629.4593056380147|
|2013-08-10 00:00:00.0|586.3113241756664|
|2013-08-11 00:00:00.0|551.5472206441007|
|2013-08-12 00:00:00.0|612.4790563343757|
|2013-08-13 00:00:00.0|604.1594044945457|
+---------------------+-----------------+
only showing top 20 rows

**DF API:**

In [29]:
# how best to join two DataFrames without having a duplicated colum? Mention them as expression
(orders_df.join(order_items_df, orders_df.order_id == order_items_df.order_item_order_id)
 .select(['order_date', 'order_item_subtotal', 'order_item_order_id'])
 #.select('order_date', (F.sum('order_item_subtotal') / F.countDistinct('order_item_order_id')).alias('avg_rev_per_day'))
 .groupBy('order_date')
 .agg((F.sum('order_item_subtotal') / F.countDistinct('order_item_order_id')).alias('avg_rev_per_day'))
 .orderBy('order_date')
 .show(truncate=False))

+---------------------+-----------------+
|order_date           |avg_rev_per_day  |
+---------------------+-----------------+
|2013-07-25 00:00:00.0|587.5330286848134|
|2013-07-26 00:00:00.0|585.9234878147109|
|2013-07-27 00:00:00.0|577.5676682063512|
|2013-07-28 00:00:00.0|551.4119109020958|
|2013-07-29 00:00:00.0|635.5883909684641|
|2013-07-30 00:00:00.0|564.5363838698838|
|2013-07-31 00:00:00.0|630.9955146643533|
|2013-08-01 00:00:00.0|608.4982189502356|
|2013-08-02 00:00:00.0|587.8871075517388|
|2013-08-03 00:00:00.0|599.1628419048382|
|2013-08-04 00:00:00.0|594.3201416863335|
|2013-08-05 00:00:00.0|592.8305590897799|
|2013-08-06 00:00:00.0|579.68106844792  |
|2013-08-07 00:00:00.0|583.906170096101 |
|2013-08-08 00:00:00.0|588.4743191939134|
|2013-08-09 00:00:00.0|629.4593056380147|
|2013-08-10 00:00:00.0|586.3113241756664|
|2013-08-11 00:00:00.0|551.5472206441007|
|2013-08-12 00:00:00.0|612.4790563343757|
|2013-08-13 00:00:00.0|604.1594044945457|
+---------------------+-----------------+
only showing top 20 rows

## 4.4 Get Highest Priced Product:

**SQL:**

In [30]:
spark.sql(strip_margin(
        """SELECT p.* 
          |FROM products p
          |WHERE p.product_price = (SELECT max(q.product_price) FROM products q)
        """)).show()

+----------+-------------------+-------------------+-------------------+-------------+--------------------+
|product_id|product_category_id|       product_name|product_description|product_price|       product_image|
+----------+-------------------+-------------------+-------------------+-------------+--------------------+
|       208|                 10|SOLE E35 Elliptical|               null|      1999.99|http://images.acm...|
+----------+-------------------+-------------------+-------------------+-------------+--------------------+

**SQL Using Window Function:**

In [31]:
spark.sql(strip_margin(
        """SELECT * 
          |FROM ( 
          |    SELECT *, 
          |         rank() OVER (ORDER BY product_price DESC) as rank
          |    FROM products) tmp
          |WHERE rank <= 1
        """)).show()

+----------+-------------------+-------------------+-------------------+-------------+--------------------+----+
|product_id|product_category_id|       product_name|product_description|product_price|       product_image|rank|
+----------+-------------------+-------------------+-------------------+-------------+--------------------+----+
|       208|                 10|SOLE E35 Elliptical|               null|      1999.99|http://images.acm...|   1|
+----------+-------------------+-------------------+-------------------+-------------+--------------------+----+

**DF API:**

In [32]:
(products_df
 .select('*')
 .filter(col('product_price') == products_df.select(F.max('product_price')).collect()[0][0])
 .show())

+----------+-------------------+-------------------+-------------------+-------------+--------------------+
|product_id|product_category_id|       product_name|product_description|product_price|       product_image|
+----------+-------------------+-------------------+-------------------+-------------+--------------------+
|       208|                 10|SOLE E35 Elliptical|               null|      1999.99|http://images.acm...|
+----------+-------------------+-------------------+-------------------+-------------+--------------------+

**DF API Using Window Function:**

In [33]:
from pyspark.sql.window import Window

In [34]:
windowSpec = Window.orderBy(products_df['product_price'].desc())

In [35]:
products_df.select('*', F.rank().over(windowSpec).alias('rank')).filter(col('rank') <= 1).show()

+----------+-------------------+-------------------+-------------------+-------------+--------------------+----+
|product_id|product_category_id|       product_name|product_description|product_price|       product_image|rank|
+----------+-------------------+-------------------+-------------------+-------------+--------------------+----+
|       208|                 10|SOLE E35 Elliptical|               null|      1999.99|http://images.acm...|   1|
+----------+-------------------+-------------------+-------------------+-------------+--------------------+----+

## 4.5 Get Highest Revenue Earning Products:

**SQL:**

In [36]:
spark.sql(strip_margin(
        """SELECT products.* 
          |FROM products, (SELECT order_item_product_id, sum(oi.order_item_subtotal) as product_revenue
          |                    FROM order_items oi 
          |                    GROUP BY order_item_product_id 
          |                    ORDER BY product_revenue DESC 
          |                    LIMIT 1) a
          |WHERE product_id = a.order_item_product_id
        """)).show()

+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|product_id|product_category_id|        product_name|product_description|product_price|       product_image|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|      1004|                 45|Field & Stream Sp...|               null|       399.98|http://images.acm...|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+

**DF API:**

In [37]:
# 1. Get the sum of revenue of all the products grouped by order_item_product_id from order_items table
# 2. Sort the result in descending order of their revenues
# 3. Take only the first one from the sorted order using the limit() function
# 4. Join with the prorcuts column to get the product details
(order_items_df.select(['order_item_product_id', 'order_item_subtotal'])
     .groupBy('order_item_product_id')
     .agg(F.sum('order_item_subtotal').alias('product_revenue'))
     .orderBy('product_revenue', ascending=False)
     .limit(1)
     .join(products_df, order_items_df.order_item_product_id == products_df.product_id)
     .select(products_df.columns)
     .show())

+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|product_id|product_category_id|        product_name|product_description|product_price|       product_image|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|      1004|                 45|Field & Stream Sp...|               null|       399.98|http://images.acm...|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+

## 4.6 Get Number of Orders By Status:

**SQL:**

In [38]:
spark.sql(strip_margin(
        """SELECT order_status, count(1) as total
          |FROM orders o
          |GROUP BY o.order_status
        """)).show()

+---------------+-----+
|   order_status|total|
+---------------+-----+
|PENDING_PAYMENT|15030|
|       COMPLETE|22899|
|        ON_HOLD| 3798|
| PAYMENT_REVIEW|  729|
|     PROCESSING| 8275|
|         CLOSED| 7556|
|SUSPECTED_FRAUD| 1558|
|        PENDING| 7610|
|       CANCELED| 1428|
+---------------+-----+

**DF API:**

In [39]:
orders_df.groupBy(orders_df.order_status).count().withColumnRenamed('count', 'total').show()

+---------------+-----+
|   order_status|total|
+---------------+-----+
|PENDING_PAYMENT|15030|
|       COMPLETE|22899|
|        ON_HOLD| 3798|
| PAYMENT_REVIEW|  729|
|     PROCESSING| 8275|
|         CLOSED| 7556|
|SUSPECTED_FRAUD| 1558|
|        PENDING| 7610|
|       CANCELED| 1428|
+---------------+-----+

## 4.7 Get Number of Orders By Order Date and Order Status:

**SQL:**

In [40]:
spark.sql(strip_margin(
        """SELECT order_date, order_status, count(1) as total
          |FROM orders o
          |GROUP BY order_date, o.order_status
        """)).show(truncate=False)

+---------------------+---------------+-----+
|order_date           |order_status   |total|
+---------------------+---------------+-----+
|2013-08-16 00:00:00.0|COMPLETE       |43   |
|2013-08-30 00:00:00.0|CLOSED         |17   |
|2013-09-10 00:00:00.0|COMPLETE       |80   |
|2013-10-05 00:00:00.0|SUSPECTED_FRAUD|4    |
|2013-12-02 00:00:00.0|SUSPECTED_FRAUD|3    |
|2013-12-09 00:00:00.0|ON_HOLD        |9    |
|2013-12-20 00:00:00.0|SUSPECTED_FRAUD|3    |
|2013-12-23 00:00:00.0|PAYMENT_REVIEW |2    |
|2014-01-02 00:00:00.0|CLOSED         |15   |
|2014-02-11 00:00:00.0|CANCELED       |3    |
|2014-02-14 00:00:00.0|ON_HOLD        |11   |
|2014-02-21 00:00:00.0|PROCESSING     |25   |
|2014-05-13 00:00:00.0|SUSPECTED_FRAUD|3    |
|2014-06-27 00:00:00.0|PENDING        |26   |
|2014-07-16 00:00:00.0|ON_HOLD        |3    |
|2013-08-16 00:00:00.0|PENDING_PAYMENT|30   |
|2013-08-29 00:00:00.0|PROCESSING     |31   |
|2013-09-10 00:00:00.0|SUSPECTED_FRAUD|3    |
|2013-09-25 00:00:00.0|CLOSED         |28   |
|2013-09-27 00:00:00.0|PENDING_PAYMENT|56   |
+---------------------+---------------+-----+
only showing top 20 rows

**DF API:**

In [41]:
(orders_df
 .groupBy([orders_df.order_date, orders_df.order_status])
 .count().withColumnRenamed('count', 'total')
 .show(truncate=False))

+---------------------+---------------+-----+
|order_date           |order_status   |total|
+---------------------+---------------+-----+
|2013-08-16 00:00:00.0|COMPLETE       |43   |
|2013-08-30 00:00:00.0|CLOSED         |17   |
|2013-09-10 00:00:00.0|COMPLETE       |80   |
|2013-10-05 00:00:00.0|SUSPECTED_FRAUD|4    |
|2013-12-02 00:00:00.0|SUSPECTED_FRAUD|3    |
|2013-12-09 00:00:00.0|ON_HOLD        |9    |
|2013-12-20 00:00:00.0|SUSPECTED_FRAUD|3    |
|2013-12-23 00:00:00.0|PAYMENT_REVIEW |2    |
|2014-01-02 00:00:00.0|CLOSED         |15   |
|2014-02-11 00:00:00.0|CANCELED       |3    |
|2014-02-14 00:00:00.0|ON_HOLD        |11   |
|2014-02-21 00:00:00.0|PROCESSING     |25   |
|2014-05-13 00:00:00.0|SUSPECTED_FRAUD|3    |
|2014-06-27 00:00:00.0|PENDING        |26   |
|2014-07-16 00:00:00.0|ON_HOLD        |3    |
|2013-08-16 00:00:00.0|PENDING_PAYMENT|30   |
|2013-08-29 00:00:00.0|PROCESSING     |31   |
|2013-09-10 00:00:00.0|SUSPECTED_FRAUD|3    |
|2013-09-25 00:00:00.0|CLOSED         |28   |
|2013-09-27 00:00:00.0|PENDING_PAYMENT|56   |
+---------------------+---------------+-----+
only showing top 20 rows

## 4.8 Get all CANCELED orders with amount greater than \$1000:

**SQL:**

In [42]:
spark.sql(strip_margin(
    """SELECT q.* 
      |FROM (SELECT o.order_id, o.order_date, o.order_customer_id, o.order_status, sum(oi.order_item_subtotal) as order_total 
      |      FROM orders o JOIN order_items oi 
      |          ON o.order_id = oi.order_item_order_id 
      |      WHERE o.order_status = 'CANCELED' 
      |      GROUP BY o.order_id, o.order_date, o.order_customer_id, o.order_status) q 
      |WHERE q.order_total >= 1000 
      |ORDER BY q.order_id
    """)).show(truncate=False)

+--------+---------------------+-----------------+------------+------------------+
|order_id|order_date           |order_customer_id|order_status|order_total       |
+--------+---------------------+-----------------+------------+------------------+
|753     |2013-07-29 00:00:00.0|5094             |CANCELED    |1129.75           |
|2012    |2013-08-04 00:00:00.0|5165             |CANCELED    |1499.8600311279297|
|2144    |2013-08-05 00:00:00.0|7932             |CANCELED    |1099.900032043457 |
|2189    |2013-08-06 00:00:00.0|6829             |CANCELED    |1029.9400253295898|
|2271    |2013-08-06 00:00:00.0|7603             |CANCELED    |1229.9300231933594|
|2754    |2013-08-09 00:00:00.0|8946             |CANCELED    |1109.9500274658203|
|3551    |2013-08-14 00:00:00.0|5363             |CANCELED    |1299.8700408935547|
|4354    |2013-08-20 00:00:00.0|7268             |CANCELED    |1047.9000244140625|
|4801    |2013-08-23 00:00:00.0|11630            |CANCELED    |1016.9500217437744|
|5331    |2013-08-26 00:00:00.0|3361             |CANCELED    |1229.8100204467773|
|5613    |2013-08-28 00:00:00.0|7052             |CANCELED    |1049.8700103759766|
|6180    |2013-09-02 00:00:00.0|8688             |CANCELED    |1059.8800354003906|
|6231    |2013-09-02 00:00:00.0|12347            |CANCELED    |1279.8900299072266|
|6548    |2013-09-04 00:00:00.0|172              |CANCELED    |1069.910026550293 |
|6819    |2013-09-06 00:00:00.0|1548             |CANCELED    |1149.8500366210938|
|7053    |2013-09-07 00:00:00.0|10424            |CANCELED    |1339.8500213623047|
|7360    |2013-09-08 00:00:00.0|12102            |CANCELED    |1009.9200286865234|
|7491    |2013-09-09 00:00:00.0|6892             |CANCELED    |1249.8500213623047|
|8433    |2013-09-15 00:00:00.0|6568             |CANCELED    |1329.9200439453125|
|8488    |2013-09-16 00:00:00.0|9154             |CANCELED    |1079.8900108337402|
+--------+---------------------+-----------------+------------+------------------+
only showing top 20 rows

**DF API:**

In [43]:
(orders_df
 .filter(col('order_status') == 'CANCELED')
 .join(order_items_df, orders_df.order_id == order_items_df.order_item_order_id)
 .groupBy(orders_df.order_id, orders_df.order_date, orders_df.order_customer_id, orders_df.order_status)
 .agg(F.sum('order_item_subtotal').alias('order_total'))
 .filter(col('order_total') >= 1000)
 .orderBy('order_id')
 .show())

+--------+--------------------+-----------------+------------+------------------+
|order_id|          order_date|order_customer_id|order_status|       order_total|
+--------+--------------------+-----------------+------------+------------------+
|     753|2013-07-29 00:00:...|             5094|    CANCELED|           1129.75|
|    2012|2013-08-04 00:00:...|             5165|    CANCELED|1499.8600311279297|
|    2144|2013-08-05 00:00:...|             7932|    CANCELED| 1099.900032043457|
|    2189|2013-08-06 00:00:...|             6829|    CANCELED|1029.9400253295898|
|    2271|2013-08-06 00:00:...|             7603|    CANCELED|1229.9300231933594|
|    2754|2013-08-09 00:00:...|             8946|    CANCELED|1109.9500274658203|
|    3551|2013-08-14 00:00:...|             5363|    CANCELED|1299.8700408935547|
|    4354|2013-08-20 00:00:...|             7268|    CANCELED|1047.9000244140625|
|    4801|2013-08-23 00:00:...|            11630|    CANCELED|1016.9500217437744|
|    5331|2013-08-26 00:00:...|             3361|    CANCELED|1229.8100204467773|
|    5613|2013-08-28 00:00:...|             7052|    CANCELED|1049.8700103759766|
|    6180|2013-09-02 00:00:...|             8688|    CANCELED|1059.8800354003906|
|    6231|2013-09-02 00:00:...|            12347|    CANCELED|1279.8900299072266|
|    6548|2013-09-04 00:00:...|              172|    CANCELED| 1069.910026550293|
|    6819|2013-09-06 00:00:...|             1548|    CANCELED|1149.8500366210938|
|    7053|2013-09-07 00:00:...|            10424|    CANCELED|1339.8500213623047|
|    7360|2013-09-08 00:00:...|            12102|    CANCELED|1009.9200286865234|
|    7491|2013-09-09 00:00:...|             6892|    CANCELED|1249.8500213623047|
|    8433|2013-09-15 00:00:...|             6568|    CANCELED|1329.9200439453125|
|    8488|2013-09-16 00:00:...|             9154|    CANCELED|1079.8900108337402|
+--------+--------------------+-----------------+------------+------------------+
only showing top 20 rows

## 4.9 Sort Products by Category and Price:

**SQL:**

In [44]:
spark.sql(strip_margin(
        """SELECT p.* 
          |FROM products p
          |ORDER BY p.product_category_id ASC, p.product_price DESC
        """)).show()

+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|product_id|product_category_id|        product_name|product_description|product_price|       product_image|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|        16|                  2|Riddell Youth 360...|               null|       299.99|http://images.acm...|
|        11|                  2|Fitness Gear 300 ...|               null|       209.99|http://images.acm...|
|         5|                  2|Riddell Youth Rev...|               null|       199.99|http://images.acm...|
|        14|                  2|Quik Shade Summit...|               null|       199.99|http://images.acm...|
|        12|                  2|Under Armour Men'...|               null|       139.99|http://images.acm...|
|        23|                  2|Under Armour Men'...|               null|       139.99|http://images.acm...|
|         6|                  2|Jordan Men's VI R...|               null|       134.99|http://images.acm...|
|        20|                  2|Under Armour Men'...|               null|       129.99|http://images.acm...|
|         8|                  2|Nike Men's Vapor ...|               null|       129.99|http://images.acm...|
|        17|                  2|Under Armour Men'...|               null|       129.99|http://images.acm...|
|         2|                  2|Under Armour Men'...|               null|       129.99|http://images.acm...|
|        10|                  2|Under Armour Men'...|               null|       129.99|http://images.acm...|
|        19|                  2|Nike Men's Finger...|               null|       124.99|http://images.acm...|
|         7|                  2|Schutt Youth Recr...|               null|        99.99|http://images.acm...|
|         3|                  2|Under Armour Men'...|               null|        89.99|http://images.acm...|
|         4|                  2|Under Armour Men'...|               null|        89.99|http://images.acm...|
|        13|                  2|Under Armour Men'...|               null|        89.99|http://images.acm...|
|        24|                  2|Elevation Trainin...|               null|        79.99|http://images.acm...|
|        15|                  2|Under Armour Kids...|               null|        59.99|http://images.acm...|
|         1|                  2|Quest Q64 10 FT. ...|               null|        59.98|http://images.acm...|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+
only showing top 20 rows

**DF API:**

In [45]:
(products_df
 .orderBy(['product_category_id', 'product_price'], ascending=[1,0])
 .show()
)

+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|product_id|product_category_id|        product_name|product_description|product_price|       product_image|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|        16|                  2|Riddell Youth 360...|               null|       299.99|http://images.acm...|
|        11|                  2|Fitness Gear 300 ...|               null|       209.99|http://images.acm...|
|         5|                  2|Riddell Youth Rev...|               null|       199.99|http://images.acm...|
|        14|                  2|Quik Shade Summit...|               null|       199.99|http://images.acm...|
|        12|                  2|Under Armour Men'...|               null|       139.99|http://images.acm...|
|        23|                  2|Under Armour Men'...|               null|       139.99|http://images.acm...|
|         6|                  2|Jordan Men's VI R...|               null|       134.99|http://images.acm...|
|        20|                  2|Under Armour Men'...|               null|       129.99|http://images.acm...|
|         8|                  2|Nike Men's Vapor ...|               null|       129.99|http://images.acm...|
|        17|                  2|Under Armour Men'...|               null|       129.99|http://images.acm...|
|         2|                  2|Under Armour Men'...|               null|       129.99|http://images.acm...|
|        10|                  2|Under Armour Men'...|               null|       129.99|http://images.acm...|
|        19|                  2|Nike Men's Finger...|               null|       124.99|http://images.acm...|
|         7|                  2|Schutt Youth Recr...|               null|        99.99|http://images.acm...|
|         3|                  2|Under Armour Men'...|               null|        89.99|http://images.acm...|
|         4|                  2|Under Armour Men'...|               null|        89.99|http://images.acm...|
|        13|                  2|Under Armour Men'...|               null|        89.99|http://images.acm...|
|        24|                  2|Elevation Trainin...|               null|        79.99|http://images.acm...|
|        15|                  2|Under Armour Kids...|               null|        59.99|http://images.acm...|
|         1|                  2|Quest Q64 10 FT. ...|               null|        59.98|http://images.acm...|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+
only showing top 20 rows

## 4.10 Get the Customer Id with max revenue on daily basis:

** sortN: get top 5 products by price overall, globalSortingExamples **

**sort: sortingByKeyExamples, sort() by price per category**

** topN: For each product category get the top 5 records. i.e. top 5 products in each category (some of the products may have same price so the top 5 products will be distinct products but their prices may not be distinct 5, so the number of distinct prices <= 5 in the top5 **  
rankingByKeyExamples  
productsGroupBy.flatMap(getTopN(_, 5)).collect().foreach(println)

**topDenseN:For each category get top 3 priced products i.e. if there are 10 products with top 3 prices, the RDD should give us all 10 products, so all the procducts will be distinct as well as we will get 3 different distinct prices too**  
rankingByKeyExamples  
productsGroupBy.flatMap(getTopDenseN(_, 3)).collect().foreach(println)

In [46]:
spark.stop()